/* hero */
.company_name{
    color: rgb(245, 53, 53);
    font-family: "HelveticaNeue", sans-serif;
    font-size: 1.5rem;
  }
  .genericPageNames {
    color: black;
    font-family: "HelveticaNeue", sans-serif;
    font-size: 1.5rem;
  }


