/* Titlehero */
.company_name,.textAreaTitle{
    color: #F93B1D;
    font-family: "Helvetica Neue", sans-serif;
    font-style: normal;
    font-size: 2.125rem;
    font-weight: 700;
    line-height: 41.51px;
  }
  .genericPageNames {
    color: #1A1A1A;
    font-family: 'Helvetica Neue',sans-serif;
    font-weight: 700;
    line-height: 29px;
    font-size: 1.5rem;
  }
  .textAreaTitle{
    font-size: 1.125rem;
  }

/* Hero */
.input_label{
  font-family: "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 21px;
  font-weight: 500;
}
.two_letter{
  font-family: 'Helvetica Neue';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 21px;
color: #2E2E2E;
}

  /* GeneralInfoForms */
  .all_fields_wrapper{
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
    
  }
  .name_surname_wrapper{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
   
  }
  .name_wrapper{
    flex:1;
  }
  .surname_wrapper{
    flex:1;
  }
  .file_upload_wrapper{
    display: flex;
    gap: 1rem;
    position: relative;
  }
  .upload_button{
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute; 
  }
  .file_label{
  display: block;
  position: relative;
  width: 107px;
  height: 27px;
  border-radius: 4px;
  background: #0E80BF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  cursor: pointer;

  }
  .email_number_wrapper{
    display: flex;
    flex-direction: column;
  }

  /* ReussableForm styling */
  
  .success,.success_left{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #98E37E;
    color: white;
    right: 7%;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .success_left{
    right: 2%;
  }
  .error{
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    width: 20px;
    height: 20px;
    background-color: #F02424;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20%;
    right: -3.6%;
  }
  .border_success{
    border: 1px solid #98E37E !important;
  }
  .border_error{
    border: 1px solid #EF5050 !important;
  }



  .baseInput,.half_input,.full_textarea,.full_input{
    border-radius: 4px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    padding: 0.5rem 0.7rem;
    border:1px solid #BCBCBC;
  }

  .half_input{
    width: 95%;
    height: 48px;
    
}
  .full_textarea{
    width: 100%;
    resize: none;
  }
  .full_input{
    width: 100%;
  
  }


