
.registration_nav{
    margin-top: 70px;
    width: 95%;
    height: 50%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  .go_back_btn{
    background-color: transparent;
    border: none;
    background-color: red;
  }
  .title_hr_wrapper_home,.title_hr_wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 95%;
  }
  .title_hr_wrapper{
    width: 45%;
  }
  .title_pageIndxer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .pageNumber{
    color: #1A1A1A;
    font-size: 1.25rem;
    line-height: 23px;
  }
  .company_name,.genericPageNames{
    font-size: 2rem;
    font-family: "HelveticaNeue", sans-serif;
  }
 
  .nav_hr{
   
    border: 1px solid #1A1A1A;
  }


