.infoSide_wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-self: stretch;
}
.generalInfoP_hr_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}
.generalInfoP_wrapper{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.generalInfoP_hr{
    border: 1px solid #C8C8C8;
}
.isResume {
    border: 0.8px solid #000000;
    background: #FFFFFF;
    padding: 2rem;
}
.generalInfoP_l{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-wrap: wrap;
}
.number_email_wrapper{
    flex:1;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
}
.email,.phone_Number,.position_employer_wrapper>span,.textAreaContent{
    font-family: 'Helvetica Neue';
    font-style: normal;
    color: #1A1A1A;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.47px;

}
.title_textarea{
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.aboutMe_text{
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    font-family: 'Helvetica Neue';
    font-style: normal;
}

.generalInfoP_r{
    flex:1;
    align-self: flex-start;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.person_img{
    border-radius: 50%;
}

/* experinceP */
.experienceP,.ExperiencePContent_wrapper{
  
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
.experienceP{
    flex:1;
}
.position_employer_wrapper>span,.textAreaContent{
    text-transform: capitalize;
}

.experienceInfo_wrapper,.job_info_wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}
.job_info_wrapper{
    color: gray;
    flex-direction: row;
    text-align: center;
    justify-content: flex-start;
}
.position_employer_wrapper{
    display: flex;
    gap: 1rem;
}
